html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
body {
	background: #fff;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

a:link, a:visited, a:active {font-size: 12px; color: #1e5bb8; text-decoration: none;font-family: "Arial AMU";
  transition : color 300ms ease-out; 
  -webkit-transition : color 300ms ease-out; 
  -moz-transition : color 300ms ease-out;
  -o-transition : color 300ms ease-out;
}
a:hover {
	color: #477ac8;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

:before,:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
 
* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}

input[type="submit"],
input[type="button"] {
	-webkit-appearance: none;
}
input::-moz-focus-inner { border:0; padding:0 }
input:focus {
outline:none;
}

input,
textarea {
outline:none;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}
:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow:none;
}

/* ClearFix Class */
.cf:before,
.cf:after {content:"";display:table;}
.cf:after {clear:both;}
.cf {zoom:1;}
/******************************/
.ac:after {content: " ";  display: block; clear: both;}
.clear {clear: both;}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
}
.wrapper {
	width: 980px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 150px;
	background: #FFE680;
}


/* Middle
-----------------------------------------------------------------------------*/
#container {
	padding: 0 0 100px;
}




/* Footer
-----------------------------------------------------------------------------*/
#footer {
	width: 980px;
	margin: -100px auto 0;
	height: 100px;
	background: #BFF08E;
	position: relative;
}